{% extends 'base.html' %}
{% block reqCSS %}
<link href="static/css/index.css" rel="stylesheet"> 
{% endblock reqCSS %}
{% block content %}
<div class="aligncenter">
    <form class="row g-3" id="URLForm" method="POST">
        <div class="col-md">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                        <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                    </svg>
                </span>
                {{ form.URLinput(class="form-control", placeholder="Enter Your URL", id="urlinput" }}
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" id="shorturl" class="btn btn-secondary mb-3">Short</button>
        </div>
    </form>
    {% if URLLite %}
    <div class="row g-3">
        <div class="col-md">
            <div class="input-group">
                <input class="form-control" type="text" id="urllite" value={{ URLLite }} aria-label="readonly input example" readonly>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" id="copyurl" class="btn btn-secondary mb-3" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                        <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
                </svg>
                Copy URL
            </button>
        </div>
    </div>   
    {% endif %}
</div>
{% endblock content %}
{% block reqJS %}
<script src="static/js/URLform.js"></script>
<script>
    document.getElementById("shorturl").disabled = true;
</script>
<script>
    const submitButton = document.getElementById("shorturl");
    submitButton.addEventListener("click", () => {
        document.getElementById("URLForm").action = "{{ url_for('index') }}";
        document.getElementById("URLForm").submit;
});
</script>
{% if URLLite %}
<script>
    const copyButton = document.getElementById("copyurl");
    copyButton.addEventListener("click", () => {
        var copyText = document.getElementById("urllite");
        copyText.select();
        copyText.setSelectionRange(0, 99999);
        document.execCommand("copy");
}); 
</script>
{% endif %}   
{% endblock reqJS %}

